## 연산자 연습문제1

In [1]:
a,b=7, 3.0

In [2]:
c= a//b

In [5]:
c

2.0

In [3]:
d=a%b

In [6]:
d

1.0

In [4]:
e=a**b

In [7]:
e

343.0

## 연습문제3

In [7]:
num1 = int(input("입력1 : "))
num2 = int(input("입력2 : "))
num3 = int(input("입력3 : "))

입력1 : 10
입력2 : 30
입력3 : 70

In [8]:
num1 >= 65 and num2 >= 65 and num3 >= 65

False

## 연습문제4

In [9]:
a="20190505chicken19000"

In [10]:
year = a[:4]

In [19]:
day = a[4:8]

In [20]:
menu = a[8:15]

In [21]:
money = a[15:]

In [22]:
year

'2019'

In [23]:
day

'0505'

In [24]:
menu

'chicken'

In [25]:
money

'19000'

## 서식함수

In [26]:
score =95
a="지훈이는 어제 수학시험에서 %s점을 맞았다." % score
print(a)

지훈이는 어제 수학시험에서 95점을 맞았다.

In [27]:
score =95
a="지훈이는 어제 수학시험에서 %10s점을 맞았다." % score
print(a)

지훈이는 어제 수학시험에서         95점을 맞았다.

In [28]:
math =95
english =65
a="지훈이는 어제 수학시험에서 %s점을 받았고, \n영어시험에서 %s 점을 받았다." % (math,english)
print(a)

지훈이는 어제 수학시험에서 95점을 받았고,
영어시험에서 65 점을 받았다.

## format 함수이용하기

In [29]:
math =80
eng =60

In [30]:
a= "수학점수 :%s, 영어점수: %s" % (math,eng)

In [31]:
"수학점수:{}, 영어점수 :{}".format(math,eng)

'수학점수:80, 영어점수 :60'

In [33]:
math=95
english=65
science=40
print(f"수학점수{math:=>10}\n영어점수{english:.^10}\n과학점수{science:=>10}")

수학점수========95
영어점수....65....
과학점수========40

## 연습문제 6

In [56]:
a="  90:30:80  "

In [57]:
math,english,science = a.strip().split(":")

In [58]:
math,english,science

('90', '30', '80')

In [51]:
average=(int(math)+int(english)+int(science))/3
average

66.66666666666667

## 연습문제1

In [64]:
num1 = int(input("입력1 : "))
num2 = int(input("입력2 : "))
num3 = int(input("입력3 : "))

입력1 : 45
입력2 : 10
입력3 : 80

In [65]:
if num1 < 100 and num2 < 100 and num3 < 100:
    if num1 > 65 and num2 > 65 and num3 > 65:
        print("합격")
    else:
        print("불합격")
else:
    print("잘못된 점수가 입력되었습니다")

불합격

In [82]:
a = int(input("정수를 입력해주세요:"))
for i in range(a):
    print("안녕")

정수를 입력해주세요:5
안녕
안녕
안녕
안녕
안녕

In [89]:
a = int(input("정수를 입력해주세요:"))
for a in range(1,a+1):
    print("*" *a)

정수를 입력해주세요:5
*
**
***
****
*****

In [90]:
a = int(input("정수를 입력해주세요:"))
for a in range(a,0,-1):
    print("*" *a)

정수를 입력해주세요:5
*****
****
***
**
*

In [95]:
for a in  range(1,5):
 
   for i in range(5-a):  #공백
       print(" ", end= " " )
   for j in range(1,a):  #별
       print("*", end= " ")
   for k in range(a, 0, -1): #별 갯수 추가
       print("*", end = " ")

   print(' ')

        *
      * * *
    * * * * *
  * * * * * * *

In [101]:
a = int(input("정수를 입력해주세요:"))

for a in range(a):
    print("*"*(a+1))

정수를 입력해주세요:5
*
**
***
****
*****

## 연습문제2

In [110]:
x =[3,6,9,20,-7,5]
for a in range(len(x))
result = result*i(10)
print(x)

SyntaxError: invalid syntax (<ipython-input-110-8d7471a7cfb1>, line 2)

In [117]:
def googoodan(n) :

    for i in range(1,10):

       print(n*i)

a=int(input("정수를 입력해주세요: "))

googoodan(a)

정수를 입력해주세요: 5
5
10
15
20
25
30
35
40
45

In [129]:
for a in [3,6,9,20,-7, 5]:
    print("next:", a*10)

next: 30
next: 60
next: 90
next: 200
next: -70
next: 50

In [130]:
for a in [70,80,20]:
    print("next:", a+10)

next: 80
next: 90
next: 30

In [126]:
x = int(input('숫자를 입력하시오 : '))
for i in range(1,10):
        print("{} * {} = {}\n".format(x,i,x*i), end='  ')
print()

숫자를 입력하시오 : 5
5 * 1 = 5
  5 * 2 = 10
  5 * 3 = 15
  5 * 4 = 20
  5 * 5 = 25
  5 * 6 = 30
  5 * 7 = 35
  5 * 8 = 40
  5 * 9 = 45

In [135]:
for x in range(1, 10):
    print(  str(x)+"단" )
    for y in range(1, 10):
        print(x, "X", y, "=", x*y)

1단
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
2단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

## 연습문제 3

In [4]:
words =["school","game","piano","science","hotel","mountain"]

In [5]:
new_word =[]
for word in words:
    if len(word)>=6:
        new_word.append(word)

In [6]:
new_word

['school', 'science', 'mountain']